body {
  background-color: #111;
  color: white;
}

h1 {
  text-align: center;
}

table {
  border: 5px solid white;
  table-layout: fixed;
  width: 500px;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

th,
td {
  background-color:#222;
  border: 2px solid white;
  width: 100px;
  height: 100px;
  overflow: hidden;
}

#buttonDiv {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}