h1 {
    text-decoration: underline;
    text-align: center;
}

#card_container {
    border-width: 3px;
    border-style: outset;
}

#card_container > .col {
    margin: 25px 0;
}

#card_container > .col > .card {
    width: 75%;
    cursor: pointer;
    min-width: 250px;
    max-width: 250px;
}

#card_container > .card > .card-img-top{
    width: 100%;
}