/* Colour scheme toggle disabled until Bootstrap5.3
/* Light mode
:root{
--body-bg:#FFFFFF;
--body-color:#000000;
}

/* Dark mode
@media(prefers-color-scheme:dark){
:root{
--body-bg:#333333;
--body-color:#FFFFFF;
}
}

body {
   background: var(--body-bg);
   color: var(--body-color);
}
*/
body {
   background: var(#333333);
   color: var(#FFFFFF);
}
