/* Dark mode (Default)*/
:root{
	--body-bg: #333333;
	--body-color: #FFFFFF;
}

/* Light mode */
@media(prefers-color-scheme:light){
	:root{
		--body-bg: #CCCCCC;
		--body-color: #000000;
	}
}

#content {
	background: var(--body-bg);
	color: var(--body-color);
}
