/* Dark mode (Default)*/
:root{
	--body-bg: #333333;
	--body-color: #FFFFFF;
}

/* Light mode */
@media(prefers-color-scheme:light){
	:root{
		--body-bg: #CCCCCC;
		--body-color: #000000;
	}
}

#content{
	background: var(--body-bg);
	color: var(--body-color);
	height: calc(100vh - 56px);
}

#recsCarousel{
	width: 100%;
	font-weight: bold;
	height: 100%;
}

#recsCarousel .row{
	height: 100%;
}

#recsCarousel .carousel-inner{
	height: 100%;
}

#recsCarousel .carousel-item{
	height: 100%;
}

#recsCarousel .card{
	height: 100%;
}


#recsCarousel input{
	width: 100%;
}

.recsSpacerRow{
	padding-top: 2em;
}
