<div class="container" style="position:relative;">
	<div class="row">
		<div class="col">
			<div class="d-flex ratio-1x1 ratio" id="solarSystem">
				<div id="sun" class="celestialBody"></div>
				<div class="d-flex" id="mercuryRingContainer">
					<div class="align-self-center mx-auto ring" id="mercuryRing">
						<div id="mercury" class="celestialBody planet"></div>
					</div>
				</div>
				<div class="d-flex" id="venusRingContainer">
					<div class="align-self-center mx-auto ring" id="venusRing">
						<div id="venus" class="celestialBody planet"></div>
					</div>
				</div>
				<div class="d-flex" id="earthRingContainer">
					<div class="align-self-center mx-auto ring" id="earthRing">
						<div id="earth" class="celestialBody planet"></div>
					</div>
				</div>
				<div class="d-flex" id="marsRingContainer">
					<div class="align-self-center mx-auto ring" id="marsRing">
						<div id="mars" class="celestialBody planet"></div>
					</div>
				</div>
				<div class="d-flex" id="jupiterRingContainer">
					<div class="align-self-center mx-auto ring" id="jupiterRing">
						<div id="jupiter" class="celestialBody planet">
							<div id="jupiterEye"></div>
						</div>
					</div>
				</div>
				<div class="d-flex" id="saturnRingContainer">
					<div class="align-self-center mx-auto ring" id="saturnRing">
						  <div id="saturn" class="celestialBody planet"></div>
					</div>
				</div>
				<div class="d-flex" id="uranusRingContainer">
					<div class="align-self-center mx-auto ring" id="uranusRing">
						<div id="uranus" class="celestialBody planet"></div>
					</div>
				</div>
				<div class="d-flex" id="neptuneRingContainer">
					<div class="align-self-center mx-auto ring" id="neptuneRing">
						<div id="neptune" class="celestialBody planet"></div>
					</div>
				</div>
				<div class="d-flex" id="plutoRingContainer">
					<div class="align-self-center mx-auto ring" id="plutoRing">
						<div id="pluto" class="celestialBody planet"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>	