{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link href="{{ url_for('static', filename='assets/work/work.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}Work{% endblock %}
{% block content %}
    <div class="gallery">
        <ul class="cards">
            <li>
                <div>
                    <p class="card_head">This Is a Title</p>
                    <p class="card_icons">
                        <i class="fa-brands fa-github"></i>
                        <i class="fa-brands fa-github"></i>
                        <i class="fa-brands fa-github"></i>
                        <i class="fa-brands fa-github"></i>
                        <i class="fa-brands fa-github"></i>
                        <i class="fa-brands fa-github"></i>
                    </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sagittis nisi sit amet scelerisque porta. Pellentesque eleifend nisi vitae tellus porta fermentum. Suspendisse pharetra pulvinar consequat. Nulla diam augue, commodo eget tortor vel, imperdiet suscipit quam. Fusce sit amet viverra sem, vel tincidunt odio. Donec ut feugiat diam, vitae vehicula.</p>
                    <a href="#">This is a link</a>
                </div>
            </li>
            <li>
                <div>
                    <p class="card_head">This Is a Title</p>
                    <p class="card_icons">
                        <i class="fa-brands fa-github"></i>
                        <i class="fa-brands fa-github"></i>
                        <i class="fa-brands fa-github"></i>
                        <i class="fa-brands fa-github"></i>
                        <i class="fa-brands fa-github"></i>
                        <i class="fa-brands fa-github"></i>
                    </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sagittis nisi sit amet scelerisque porta. Pellentesque eleifend nisi vitae tellus porta fermentum. Suspendisse pharetra pulvinar consequat. Nulla diam augue, commodo eget tortor vel, imperdiet suscipit quam. Fusce sit amet viverra sem, vel tincidunt odio. Donec ut feugiat diam, vitae vehicula.</p>
                    <a href="#">This is a link</a>
                </div>
            </li>
            <li>
                <div>
                    <p class="card_head">This Is a Title</p>
                    <p class="card_icons">
                        <i class="fa-brands fa-github"></i>
                        <i class="fa-brands fa-github"></i>
                        <i class="fa-brands fa-github"></i>
                        <i class="fa-brands fa-github"></i>
                        <i class="fa-brands fa-github"></i>
                        <i class="fa-brands fa-github"></i>
                    </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sagittis nisi sit amet scelerisque porta. Pellentesque eleifend nisi vitae tellus porta fermentum. Suspendisse pharetra pulvinar consequat. Nulla diam augue, commodo eget tortor vel, imperdiet suscipit quam. Fusce sit amet viverra sem, vel tincidunt odio. Donec ut feugiat diam, vitae vehicula.</p>
                    <a href="#">This is a link</a>
                </div>
            </li>
            <li>
                <div>
                    <p class="card_head">This Is a Title</p>
                    <p class="card_icons">
                        <i class="fa-brands fa-github"></i>
                        <i class="fa-brands fa-github"></i>
                        <i class="fa-brands fa-github"></i>
                        <i class="fa-brands fa-github"></i>
                        <i class="fa-brands fa-github"></i>
                        <i class="fa-brands fa-github"></i>
                    </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sagittis nisi sit amet scelerisque porta. Pellentesque eleifend nisi vitae tellus porta fermentum. Suspendisse pharetra pulvinar consequat. Nulla diam augue, commodo eget tortor vel, imperdiet suscipit quam. Fusce sit amet viverra sem, vel tincidunt odio. Donec ut feugiat diam, vitae vehicula.</p>
                    <a href="#">This is a link</a>
                </div>
            </li>
            <li>
                <div>
                    <p class="card_head">This Is a Title</p>
                    <p class="card_icons">
                        <i class="fa-brands fa-github"></i>
                        <i class="fa-brands fa-github"></i>
                        <i class="fa-brands fa-github"></i>
                        <i class="fa-brands fa-github"></i>
                        <i class="fa-brands fa-github"></i>
                        <i class="fa-brands fa-github"></i>
                    </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sagittis nisi sit amet scelerisque porta. Pellentesque eleifend nisi vitae tellus porta fermentum. Suspendisse pharetra pulvinar consequat. Nulla diam augue, commodo eget tortor vel, imperdiet suscipit quam. Fusce sit amet viverra sem, vel tincidunt odio. Donec ut feugiat diam, vitae vehicula.</p>
                    <a href="#">This is a link</a>
                </div>
            </li>
            <li>
                <div>
                    <p class="card_head">This Is a Title</p>
                    <p class="card_icons">
                        <i class="fa-brands fa-github"></i>
                        <i class="fa-brands fa-github"></i>
                        <i class="fa-brands fa-github"></i>
                        <i class="fa-brands fa-github"></i>
                        <i class="fa-brands fa-github"></i>
                        <i class="fa-brands fa-github"></i>
                    </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sagittis nisi sit amet scelerisque porta. Pellentesque eleifend nisi vitae tellus porta fermentum. Suspendisse pharetra pulvinar consequat. Nulla diam augue, commodo eget tortor vel, imperdiet suscipit quam. Fusce sit amet viverra sem, vel tincidunt odio. Donec ut feugiat diam, vitae vehicula.</p>
                    <a href="#">This is a link</a>
                </div>
            </li>
            <li>
                <div>
                    <p class="card_head">This Is a Title</p>
                    <p class="card_icons">
                        <i class="fa-brands fa-github"></i>
                        <i class="fa-brands fa-github"></i>
                        <i class="fa-brands fa-github"></i>
                        <i class="fa-brands fa-github"></i>
                        <i class="fa-brands fa-github"></i>
                        <i class="fa-brands fa-github"></i>
                    </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sagittis nisi sit amet scelerisque porta. Pellentesque eleifend nisi vitae tellus porta fermentum. Suspendisse pharetra pulvinar consequat. Nulla diam augue, commodo eget tortor vel, imperdiet suscipit quam. Fusce sit amet viverra sem, vel tincidunt odio. Donec ut feugiat diam, vitae vehicula.</p>
                    <a href="#">This is a link</a>
                </div>
            </li>
            <li>
                <div>
                    <p class="card_head">This Is a Title</p>
                    <p class="card_icons">
                        <i class="fa-brands fa-github"></i>
                        <i class="fa-brands fa-github"></i>
                        <i class="fa-brands fa-github"></i>
                        <i class="fa-brands fa-github"></i>
                        <i class="fa-brands fa-github"></i>
                        <i class="fa-brands fa-github"></i>
                    </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sagittis nisi sit amet scelerisque porta. Pellentesque eleifend nisi vitae tellus porta fermentum. Suspendisse pharetra pulvinar consequat. Nulla diam augue, commodo eget tortor vel, imperdiet suscipit quam. Fusce sit amet viverra sem, vel tincidunt odio. Donec ut feugiat diam, vitae vehicula.</p>
                    <a href="#">This is a link</a>
                </div>
            </li>
        </ul>
        <div class="actions">
            <button class="prev">Prev</button>
            <button class="next">Next</button>
        </div>
    </div>
    <div class="drag-proxy"></div>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/Draggable.min.js"></script>
    <script src="{{ url_for('static', filename='assets/work/work.js') }}" type="module"></script>
{% endblock %}