#recsCarousel{
	width: 100%;
	font-weight: bold;
	height: 100%;
}

#recsCarousel .col-3{
	font-size: calc(2vw);
}

#recsCarousel .row{
	height: 100%;
}

#recsCarousel .carousel-inner{
	height: 100%;
}

#recsCarousel .carousel-item{
	height: 100%;
}

#recsCarousel .card{
	height: 100%;
}

#recsCarousel input{
	width: 100%;
}

#recsCarousel .varianceOutput{
	color: #ff4d40;
}

.recsSpacerRow{
	padding-top: 2em;
}

.tableInput{
    width: 7em;
}