i {
	cursor: pointer;
}

.card {
	max-width: 600px;	/* Consider using clamp */
	min-width: 300px;
}

.slip_row {
	background: var(--bs-danger-text-emphasis);
}

.recs_nav {
	margin: 0 5px;
}

.recs_input {
	width: 7em;
}