<!DOCTYPE html>
<html lang="en">
    <body>
        <div>
            <span><label for="displayContact">From: </label></span><span id="displayContact">{{ input_name }}</span>
        </div>
        <div>
            <span><label for="displayContact">@: </label></span><span id="displayContact">{{ contact }}</span>
        </div>
        <div>
            <span><label for="displayContact">Subject: </label></span><span id="displayContact">{{ input_subject }}</span>
        </div>
        <div>
            <p><label for="displayMessage">Message: </label></p>
            <p id="displayMessage">{{ message }}</p>
        </div>
    </body>
</html>