{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link href="{{ url_for('static', filename='assets/morrisons/recs/recs.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}Morrison's: Lottery Reconciliations{% endblock %}
{% block content %}
<div class="w-100 h-100">
	<div id="recsCarousel" class="carousel slide" data-bs-interval="false">
		<div class="row g-0">
			<div class="col-1 carouselNav">
				<button class="carousel-control-prev" type="button" data-bs-target="#recsCarousel" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
			</div>
			<div class="col-10 carouselContainer">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<div class="card card-body">
							<div>
								<div class="card-header">Draw Based Summary</div>
								<div class="card-body">
									<p class="card-text">Reports & Invoice > Draw-Based Reports > Draw-Based Summary > Today > Terminal Summary</p>
								</div>
								<div class="table-responsive">
									<table class="table table-striped table-danger">
										<tbody>
											<tr class="d-flex">
												<td class="col"><span class="align-middle">Lotto</span></td>
												<td class="col-auto"><input style="width: 7em;"id="slipInput1" type="number" placeholder="0" /></td>
											</tr>
											<tr class="d-flex">
												<td class="col"><span class="align-middle">TBall</span></td>
												<td class="col-auto"><input style="width: 7em;"id="slipInput2" type="number" placeholder="0" /></td>
											</tr>
											<tr class="d-flex">
												<td class="col"><span class="align-middle">EuroMillions</span></td>
												<td class="col-auto"><input style="width: 7em;"id="slipInput3" type="number" placeholder="0" /></td>
											</tr>
											<tr class="d-flex">
												<td class="col"><span class="align-middle">Euro Hotpicks</span></td>
												<td class="col-auto"><input style="width: 7em;"id="slipInput4" type="number" placeholder="0" /></td>
											</tr>
											<tr class="d-flex">
												<td class="col"><span class="align-middle">Hotpicks</span></td>
												<td class="col-auto"><input style="width: 7em;"id="slipInput5" type="number" placeholder="0" /></td>
											</tr>
											<tr class="d-flex">
												<td class="col"><span class="align-middle">Set for Life</span></td>
												<td class="col-auto"><input style="width: 7em;"id="slipInput6" type="number" placeholder="0" /></td>
											</tr>
											<tr class="d-flex recsSpacerRow"></tr>
											<tr class="d-flex">
												<td class="col"><span class="align-middle">Prizes</span></td>
												<td class="col-auto"><input style="width: 7em;"id="slipLottoPrizes" type="number" placeholder="0" /></td>
											</tr>
											<tr class="d-flex recsSpacerRow"></tr>
											<tr class="d-flex">
												<td class="col"><span class="align-middle">Cancels</span></td>
												<td class="col-auto"><input style="width: 7em;"id="slipCancels" type="number" placeholder="0" /></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div></div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="card card-body">
							<div>
								<div class="card-header">Scratchcard Summary</div>
								<div class="card-body">
									<p class="card-text">Reports & Invoice > Scratchcard Reports > Finiancial Reports > Scratchcard Summary > Today</p>
								</div>
								<div class="card-body">
									<table class="table table-danger table-striped">
										<tbody>
											<tr>
												<th scope="row">Cash Prizes</th>
												<td><input style="width: 7em;"type="number" class="form-control" id="slipInstantPrizes" placeholder="0"></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div></div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="card card-body">
							<div>
								<div class="card-header">Products Sold Today</div>
								<div class="card-body">
									<p class="card-text">Products > Product Reports > Products Sold Today</p>
								</div>
								<div class="table-responsive">
									<table class="table table-striped">
										<tbody>
											<tr class="d-flex">
												<td class="col"><span class="align-middle">01111111 - ONLINE PRIZES</span></td>
												<td class="col-auto"><input style="width: 7em;"id="officePrizes1" type="number" placeholder="0" /></td>
											</tr>
											<tr class="d-flex">
												<td class="col"><span class="align-middle">02222222 - Euromillions Prize</span></td>
												<td class="col-auto"><input style="width: 7em;"id="officePrizes2" type="number" placeholder="0" /></td>
											</tr>
											<tr class="d-flex">
												<td class="col"><span class="align-middle">03333333 - Instants Prize</span></td>
												<td class="col-auto"><input style="width: 7em;"id="officePrizes3" type="number" placeholder="0" /></td>
											</tr>
											<tr class="d-flex recsSpacerRow"></tr>
											<tr class="d-flex">
												<td class="col"><span class="align-middle">75000000 - Lotto</span></td>
												<td class="col-auto"><input style="width: 7em;"id="officeInput1" type="number" placeholder="0" /></td>
											</tr>
											<tr class="d-flex">
												<td class="col"><span class="align-middle">75000187 - EuroMillions</span></td>
												<td class="col-auto"><input style="width: 7em;"id="officeInput2" type="number" placeholder="0" /></td>
											</tr>
											<tr class="d-flex">
												<td class="col"><span class="align-middle">75000577 - Thunderball</span></td>
												<td class="col-auto"><input style="width: 7em;"id="officeInput3" type="number" placeholder="0" /></td>
											</tr>
											<tr class="d-flex">
												<td class="col"><span class="align-middle">75000578 - Lotto Hot Picks</span></td>
												<td class="col-auto"><input style="width: 7em;"id="officeInput4" type="number" placeholder="0" /></td>
											</tr>
											<tr class="d-flex">
												<td class="col"><span class="align-middle">75000745 - EuroMillions Hotpicks</span></td>
												<td class="col-auto"><input style="width: 7em;"id="officeInput5" type="number" placeholder="0" /></td>
											</tr>
											<tr class="d-flex">
												<td class="col"><span class="align-middle">75000801 - Set For Life</span></td>
												<td class="col-auto"><input style="width: 7em;"id="officeInput6" type="number" placeholder="0" /></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div></div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="card card-body">
							<div>
								<div class="card-header">Output</div>
								<div class="card-body text-center">
									<button type="button" class="btn btn-primary btn-lg" onclick="recs_functions.calcVals()">Calculate</button>
								</div>
								<div class="table-responsive">
									<table class="table table-striped">
										<tbody>
											<tr class="d-flex">
												<td class="col"><span class="align-middle">Pink Slip Sales</span></td>
												<td class="col-auto"><input style="width: 7em;"id="slipSalesOut" type="number" placeholder="0" readonly/></td>
											</tr>
											<tr class="d-flex">
												<td class="col"><span class="align-middle">Total Till Sales</span></td>
												<td class="col-auto"><input style="width: 7em;"id="actualSalesOut" type="number" placeholder="0" readonly/></td>
											</tr>
											<tr class="d-flex">
												<td class="col varianceOutput">Sales Variance</td>
												<td class="col-auto"><input style="width: 7em;"id="saleVariance" type="number" placeholder="0" readonly/></td>
											</tr>
											<tr class="d-flex recsSpacerRow"></tr>
											<tr class="d-flex">
												<td class="col"><span class="align-middle">Total Terminal Prizes</span></td>
												<td class="col-auto"><input style="width: 7em;"id="slipPrizeOut" type="number" placeholder="0" readonly/></td>
											</tr>
											<tr class="d-flex">
												<td class="col"><span class="align-middle">Total Till </span></td>
												<td class="col-auto"><input style="width: 7em;"id="actualPrizeOut" type="number" placeholder="0" readonly/></td>
											</tr>
											<tr class="d-flex">
												<td class="col varianceOutput">Prize Variance</td>
												<td class="col-auto"><input style="width: 7em;"id="prizeVariance" type="number" placeholder="0" readonly/></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-1 carouselNav">
				<button class="carousel-control-next" type="button" data-bs-target="#recsCarousel" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
		</div>
	</div>
</div>

<script src="{{ url_for('static', filename='assets/morrisons/recs/recs_script.js') }}"></script>
{% endblock %}