{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link href="{{ url_for('static', filename='assets/morrisons/recs/recs.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}Morrison's: Lottery Reconciliations{% endblock %}
{% block content %}
<div class="d-flex flex-row justify-content-center align-items-center h-100 w-100">
    <div class="d-flex align-items-center"><span id="recs_nav_left" class="fs-1 fw-bold text-primary recs_nav" style="margin: 0 5px;">&lt;</span></div>
    <div class="card w-100" style="max-width: 600px;min-width: 300px;">
        <div id="body_0" class="card-body input_body">
            <div class="d-flex justify-content-between"><span class="fs-5 fw-bold">Draw Based Summary</span><span>i</span></div>
            <div class="container">
                <div class="row" style="background: var(--bs-danger-text-emphasis);">
                    <div class="col"><label class="col-form-label text-dark">Lotto</label></div>
                    <div class="col-auto d-flex align-items-center"><input class="draw_sales" type="text" style="width: 7em;" /></div>
                </div>
                <div class="row" style="background: var(--bs-danger-text-emphasis);">
                    <div class="col"><label class="col-form-label text-dark">TBall</label></div>
                    <div class="col-auto d-flex align-items-center"><input class="draw_sales" type="text" style="width: 7em;" /></div>
                </div>
                <div class="row" style="background: var(--bs-danger-text-emphasis);">
                    <div class="col"><label class="col-form-label text-dark">EuroMillions</label></div>
                    <div class="col-auto d-flex align-items-center"><input class="draw_sales" type="text" style="width: 7em;" /></div>
                </div>
                <div class="row" style="background: var(--bs-danger-text-emphasis);">
                    <div class="col"><label class="col-form-label text-dark">Euro Hotpicks</label></div>
                    <div class="col-auto d-flex align-items-center"><input class="draw_sales" type="text" style="width: 7em;" /></div>
                </div>
                <div class="row" style="background: var(--bs-danger-text-emphasis);">
                    <div class="col"><label class="col-form-label text-dark">Hotpicks</label></div>
                    <div class="col-auto d-flex align-items-center"><input class="draw_sales" type="text" style="width: 7em;" /></div>
                </div>
                <div class="row" style="background: var(--bs-danger-text-emphasis);">
                    <div class="col"><label class="col-form-label text-dark">Set for Life</label></div>
                    <div class="col-auto d-flex align-items-center"><input class="draw_sales" type="text" style="width: 7em;" /></div>
                </div>
                <div class="row">
                    <div class="col"><label class="col-form-label text-dark">Set for Life</label></div>
                </div>
                <div class="row" style="background: var(--bs-danger-text-emphasis);">
                    <div class="col"><label class="col-form-label text-dark">Prizes</label></div>
                    <div class="col-auto d-flex align-items-center"><input class="draw_prizes" type="text" style="width: 7em;" /></div>
                </div>
                <div class="row">
                    <div class="col"><label class="col-form-label text-dark">Set for Life</label></div>
                </div>
                <div class="row" style="background: var(--bs-danger-text-emphasis);">
                    <div class="col"><label class="col-form-label text-dark">Cancels</label></div>
                    <div class="col-auto d-flex align-items-center"><input class="draw_cancels" type="text" style="width: 7em;" /></div>
                </div>
            </div>
        </div>
        <div id="body_1" class="card-body input_body d-none">
            <div class="d-flex justify-content-between"><span class="fs-5 fw-bold">Scratchcard Summary</span><span>i</span></div>
            <div class="container">
                <div class="row" style="background: var(--bs-danger-text-emphasis);">
                    <div class="col"><label class="col-form-label text-dark">Cash Prizes</label></div>
                    <div class="col-auto d-flex align-items-center"><input class="scratch_prizes" type="text" style="width: 7em;" /></div>
                </div>
            </div>
        </div>
        <div id="body_2" class="card-body input_body d-none">
            <div class="d-flex justify-content-between"><span class="fs-5 fw-bold">Products Sold Today</span><span>i</span></div>
            <div class="container">
                <div class="row">
                    <div class="col"><label class="col-form-label">ONLINE PRIZES</label></div>
                    <div class="col-auto d-flex align-items-center"><input class="till_prizes" type="text" style="width: 7em;" /></div>
                </div>
                <div class="row">
                    <div class="col"><label class="col-form-label">Euromillions Prize</label></div>
                    <div class="col-auto d-flex align-items-center"><input class="till_prizes" type="text" style="width: 7em;" /></div>
                </div>
                <div class="row">
                    <div class="col"><label class="col-form-label">Instants Prize</label></div>
                    <div class="col-auto d-flex align-items-center"><input class="till_prizes" type="text" style="width: 7em;" /></div>
                </div>
                <div class="row">
                    <div class="col"><label class="col-form-label text-dark">Set for Life</label></div>
                </div>
                <div class="row">
                    <div class="col"><label class="col-form-label">Lotto</label></div>
                    <div class="col-auto d-flex align-items-center"><input class="till_sales" type="text" style="width: 7em;" /></div>
                </div>
                <div class="row">
                    <div class="col"><label class="col-form-label">EuroMillions</label></div>
                    <div class="col-auto d-flex align-items-center"><input class="till_sales" type="text" style="width: 7em;" /></div>
                </div>
                <div class="row">
                    <div class="col"><label class="col-form-label">Thunderball</label></div>
                    <div class="col-auto d-flex align-items-center"><input class="till_sales" type="text" style="width: 7em;" /></div>
                </div>
                <div class="row">
                    <div class="col"><label class="col-form-label">Lotto Hot Picks</label></div>
                    <div class="col-auto d-flex align-items-center"><input class="till_sales" type="text" style="width: 7em;" /></div>
                </div>
                <div class="row">
                    <div class="col"><label class="col-form-label">EuroMillions Hotpicks</label></div>
                    <div class="col-auto d-flex align-items-center"><input class="till_sales" type="text" style="width: 7em;" /></div>
                </div>
                <div class="row">
                    <div class="col"><label class="col-form-label">Set For Life</label></div>
                    <div class="col-auto d-flex align-items-center"><input class="till_sales" type="text" style="width: 7em;" /></div>
                </div>
            </div>
        </div>
        <div id="body_3" class="card-body d-none">
            <div class="d-flex justify-content-between"><span class="fs-5 fw-bold">Routine Pad</span><span>i</span></div>
            <div class="container">
                <div class="row">
                    <div class="col"><label class="col-form-label">Pink Slip Sales</label></div>
                    <div class="col-auto d-flex align-items-center"><input id="result_slip_sales" type="text" style="width: 7em;" readonly /></div>
                </div>
                <div class="row">
                    <div class="col"><label class="col-form-label">Total Till Sales</label></div>
                    <div class="col-auto d-flex align-items-center"><input id="result_till_sales" type="text" style="width: 7em;" readonly /></div>
                </div>
                <div class="row">
                    <div class="col"><label class="col-form-label">Day +/-</label></div>
                    <div class="col-auto d-flex align-items-center"><input id="result_sales_var" type="text" style="width: 7em;" readonly /></div>
                </div>
                <div class="row">
                    <div class="col"><label class="col-form-label text-dark">Set for Life</label></div>
                </div>
                <div class="row">
                    <div class="col"><label class="col-form-label">Total Terminal Prizes</label></div>
                    <div class="col-auto d-flex align-items-center"><input id="result_slip_prizes" type="text" style="width: 7em;" readonly /></div>
                </div>
                <div class="row">
                    <div class="col"><label class="col-form-label">Total Till Prizes</label></div>
                    <div class="col-auto d-flex align-items-center"><input id="result_till_prizes" type="text" style="width: 7em;" readonly /></div>
                </div>
                <div class="row">
                    <div class="col"><label class="col-form-label">Day +/-</label></div>
                    <div class="col-auto d-flex align-items-center"><input id="result_prizes_var" type="text" style="width: 7em;" readonly /></div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex align-items-center"><span id="recs_nav_right" class="fs-1 fw-bold text-primary recs_nav" style="margin: 0 5px;">&gt;</span></div>
</div>

<script src="{{ url_for('static', filename='assets/morrisons/recs/recs_script.js') }}" type="module"></script>
{% endblock %}