{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link href="{{ url_for('static', filename='assets/morrisons/recs/recs.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}Morrison's: Lottery Reconciliations{% endblock %}
{% block content %}
<div class="d-flex flex-row justify-content-center align-items-center h-100 w-100">
    <div class="d-flex align-items-center"><span id="recs_nav_left" class="fs-1 fw-bold text-primary recs_nav">&lt;</span></div>
    <div class="card w-100">
        <div id="body_0" class="card-body input_body">
            <div class="d-flex justify-content-between"><span class="fs-5 fw-bold">Draw Based Summary</span><i class="fa-solid fa-circle-info" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Reports & invoice > Draw-Based Reports > Draw-Based Summary > Today > Terminal Summary > Print > 1"></i></div>
            <div class="container">
                <div class="row slip_row">
                    <div class="col"><label class="col-form-label text-dark">Lotto</label></div>
                    <div class="col-auto d-flex align-items-center"><input class="draw_sales recs_input" type="text" /></div>
                </div>
                <div class="row slip_row">
                    <div class="col"><label class="col-form-label text-dark">TBall</label></div>
                    <div class="col-auto d-flex align-items-center"><input class="draw_sales recs_input" type="text" /></div>
                </div>
                <div class="row slip_row">
                    <div class="col"><label class="col-form-label text-dark">EuroMillions</label></div>
                    <div class="col-auto d-flex align-items-center"><input class="draw_sales recs_input" type="text" /></div>
                </div>
                <div class="row slip_row">
                    <div class="col"><label class="col-form-label text-dark">Euro Hotpicks</label></div>
                    <div class="col-auto d-flex align-items-center"><input class="draw_sales recs_input" type="text" /></div>
                </div>
                <div class="row slip_row">
                    <div class="col"><label class="col-form-label text-dark">Hotpicks</label></div>
                    <div class="col-auto d-flex align-items-center"><input class="draw_sales recs_input" type="text" /></div>
                </div>
                <div class="row slip_row">
                    <div class="col"><label class="col-form-label text-dark">Set for Life</label></div>
                    <div class="col-auto d-flex align-items-center"><input class="draw_sales recs_input" type="text" /></div>
                </div>
                <div class="row">
                    <div class="col"><label class="col-form-label text-dark">.</label></div>
                </div>
                <div class="row slip_row">
                    <div class="col"><label class="col-form-label text-dark">Prizes</label></div>
                    <div class="col-auto d-flex align-items-center"><input class="draw_prizes recs_input" type="text" /></div>
                </div>
                <div class="row">
                    <div class="col"><label class="col-form-label text-dark">.</label></div>
                </div>
                <div class="row slip_row">
                    <div class="col"><label class="col-form-label text-dark">Cancels</label></div>
                    <div class="col-auto d-flex align-items-center"><input class="draw_cancels recs_input" type="text" /></div>
                </div>
            </div>
        </div>
        <div id="body_1" class="card-body input_body d-none">
            <div class="d-flex justify-content-between"><span class="fs-5 fw-bold">Scratchcard Summary</span><i class="fa-solid fa-circle-info" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Reports & invoice > Scratchcard Reports > Financial Reports > Scratchcard Summary > Today > Print > 1"></i></div>
            <div class="container">
                <div class="row slip_row">
                    <div class="col"><label class="col-form-label text-dark">Cash Prizes</label></div>
                    <div class="col-auto d-flex align-items-center"><input class="scratch_prizes recs_input" type="text" /></div>
                </div>
            </div>
        </div>
        <div id="body_2" class="card-body input_body d-none">
            <div class="d-flex justify-content-between"><span class="fs-5 fw-bold">Products Sold Today</span><i class="fa-solid fa-circle-info" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Products > Product Reports > Products Sold Today"></i></div>
            <div class="container">
                <div class="row">
                    <div class="col"><label class="col-form-label">ONLINE PRIZES <i class="fa-solid fa-circle-info" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="01111111"></i></label></div>
                    <div class="col-auto d-flex align-items-center"><input  class="till_prizes recs_input" type="text" /></div>
                </div>
                <div class="row">
                    <div class="col"><label class="col-form-label">Euromillions Prize <i class="fa-solid fa-circle-info" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="02222222"></i></label></div>
                    <div class="col-auto d-flex align-items-center"><input  class="till_prizes recs_input" type="text" /></div>
                </div>
                <div class="row">
                    <div class="col"><label class="col-form-label">Instants Prize <i class="fa-solid fa-circle-info" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="03333333"></i></label></div>
                    <div class="col-auto d-flex align-items-center"><input  class="till_prizes recs_input" type="text" /></div>
                </div>
                <div class="row">
                    <div class="col"><label class="col-form-label text-dark">.</label></div>
                </div>
                <div class="row">
                    <div class="col"><label class="col-form-label">Lotto <i class="fa-solid fa-circle-info" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="75000000"></i></label></div>
                    <div class="col-auto d-flex align-items-center"><input  class="till_sales recs_input" type="text" /></div>
                </div>
                <div class="row">
                    <div class="col"><label class="col-form-label">EuroMillions <i class="fa-solid fa-circle-info" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="75000187"></i></label></div>
                    <div class="col-auto d-flex align-items-center"><input  class="till_sales recs_input" type="text" /></div>
                </div>
                <div class="row">
                    <div class="col"><label class="col-form-label">Thunderball <i class="fa-solid fa-circle-info" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="75000577"></i></label></div>
                    <div class="col-auto d-flex align-items-center"><input  class="till_sales recs_input" type="text" /></div>
                </div>
                <div class="row">
                    <div class="col"><label class="col-form-label">Lotto Hot Picks <i class="fa-solid fa-circle-info" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="75000578"></i></label></div>
                    <div class="col-auto d-flex align-items-center"><input  class="till_sales recs_input" type="text" /></div>
                </div>
                <div class="row">
                    <div class="col"><label class="col-form-label">EuroMillions Hotpicks <i class="fa-solid fa-circle-info" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="75000745"></i></label></div>
                    <div class="col-auto d-flex align-items-center"><input  class="till_sales recs_input" type="text" /></div>
                </div>
                <div class="row">
                    <div class="col"><label class="col-form-label">Set For Life <i class="fa-solid fa-circle-info" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="75000801"></i></label></div>
                    <div class="col-auto d-flex align-items-center"><input  class="till_sales recs_input" type="text" /></div>
                </div>
            </div>
        </div>
        <div id="body_3" class="card-body d-none">
            <div class="d-flex justify-content-between"><span class="fs-5 fw-bold">Routine Pad</span></div>
            <div class="container">
                <div class="row">
                    <div class="col"><label class="col-form-label">Pink Slip Sales</label></div>
                    <div class="col-auto d-flex align-items-center"><input class="recs_input" id="result_slip_sales" type="text" readonly /></div>
                </div>
                <div class="row">
                    <div class="col"><label class="col-form-label">Total Till Sales</label></div>
                    <div class="col-auto d-flex align-items-center"><input class="recs_input" id="result_till_sales" type="text" readonly /></div>
                </div>
                <div class="row">
                    <div class="col"><label class="col-form-label">Day +/-</label></div>
                    <div class="col-auto d-flex align-items-center"><input class="recs_input" id="result_sales_var" type="text" readonly /></div>
                </div>
                <div class="row">
                    <div class="col"><label class="col-form-label text-dark">Set for Life</label></div>
                </div>
                <div class="row">
                    <div class="col"><label class="col-form-label">Total Terminal Prizes</label></div>
                    <div class="col-auto d-flex align-items-center"><input class="recs_input" id="result_slip_prizes" type="text" readonly /></div>
                </div>
                <div class="row">
                    <div class="col"><label class="col-form-label">Total Till Prizes</label></div>
                    <div class="col-auto d-flex align-items-center"><input class="recs_input" id="result_till_prizes" type="text" readonly /></div>
                </div>
                <div class="row">
                    <div class="col"><label class="col-form-label">Day +/-</label></div>
                    <div class="col-auto d-flex align-items-center"><input class="recs_input" id="result_prizes_var" type="text" readonly /></div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex align-items-center"><span id="recs_nav_right" class="fs-1 fw-bold text-primary recs_nav">&gt;</span></div>
</div>

<script src="{{ url_for('static', filename='assets/morrisons/recs/recs_script.js') }}" type="module"></script>
{% endblock %}