.navbar{
	background-color: var(--bs-body-bg);
}

.navbar-brand{
    margin-left: 10px;
}

#content{
	height: calc(100vh - 60px);
}

/* Home Page - Start */
#lightsOutBackground{
	background: black;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -100;
	width: 100%;
	height: 100%;
}

#torch {
	position: fixed;
	opacity: 1;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	pointer-events: none;
}
/* Home Page - End */

/*Contacts Page - Start*/
#emailInputContainer > input {
	width: 100%;
}

#messageInputContainer > textarea {
	width: 100%;
	min-height: 40vh;
}
/*Contacts Page - End*/

/*About Page - Start*/
@media (min-width: 768px) {
	#about_left_col{
		border-color: var(--bs-body-color);
		border-width: 1px;
		border-right-style: solid;
	}
}

.about_divider{
	border-bottom: 1px solid var(--bs-body-color);
	margin: 10px 0;
}
/*About Page - End*/