{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
	<div class="row h-100">
		<div class="col-12 col-md-6" style="border-color: var(--bs-body-color);border-width: 1px;border-style: none solid;">
			<div class="text-center w-100">
				<h1>Me</h1>
			</div>
			<div style="border-bottom: 1px solid var(--bs-body-color);margin: 10px 0;"></div>
			<div class="text-center">
				<p>I am Chris, a full-stack developer based in Aberdeen, Scotland.</p>
			</div>
			<div class="text-center">
				<p>I almost exclusively go by the username <strong>Lux-Ferre</strong> on all platforms.</p>
			</div>
			<div class="d-flex justify-content-center w-100">
				<div class="w-75" style="border-bottom: 1px solid var(--bs-body-color);margin: 10px 0;"></div>
			</div>
			<div class="text-center">
				<p>Mostly, I work in the digital space, building and consulting on software.</p>
			</div>
			<div class="text-center">
				<p>I specialise in building Python backends, with largely utilitarian front-ends. Though usually a web deployment set of technologies, I have found this to work great for local applications as well.</p>
			</div>
			<div class="d-flex justify-content-center w-100">
				<div class="w-75" style="border-bottom: 1px solid var(--bs-body-color);margin: 10px 0;"></div>
			</div>
			<div class="text-center">
				<p>I also have some experience with hardware projects.</p>
			</div>
			<div class="text-center">
				<p>I have designed and made things with small-scale electronics (eg a 4-bit adder) sometimes including the use of microcontrollers.</p>
			</div>
			<div class="text-center">
				<p>Recently, I have used the Solidworks CAD software to create models and 3D printed them.</p>
			</div>
			<div class="d-flex justify-content-center w-100">
				<div class="w-75" style="border-bottom: 1px solid var(--bs-body-color);margin: 10px 0;"></div>
			</div>
			<div class="text-center">
				<p>Outside of all the making things, I am a gamer, and HEMA martial artist.</p>
			</div>
			<div class="d-md-none" style="border-bottom: 1px solid var(--bs-body-color);margin: 10px 0;"></div>
			<div class="d-md-none" style="border-bottom: 1px solid var(--bs-body-color);margin: 10px 0;"></div>
		</div>
		<div class="col-12 col-md-6" style="border-color: var(--bs-body-color);border-width: 1px;border-style: none solid;">
			<div class="text-center w-100">
				<h1>This Site</h1>
			</div>
			<div style="border-bottom: 1px solid var(--bs-body-color);margin: 10px 0;"></div>
			<div class="text-center">
				<p>This site is mostly a portfolio and hub for my work; a place to create and share what I am currently working, and have previously worked, on.</p>
			</div>
			<div class="d-flex justify-content-center w-100">
				<div class="w-75" style="border-bottom: 1px solid var(--bs-body-color);margin: 10px 0;"></div>
			</div>
			<div class="text-center">
				<p>The front-end makes use of Bootstrap for responsiveness; and is served from a Flask back-end.</p>
			</div>
			<div class="d-flex justify-content-center w-100">
				<div class="w-75" style="border-bottom: 1px solid var(--bs-body-color);margin: 10px 0;"></div>
			</div>
			<div class="text-center">
				<p>GitHub is used to facilitate the CI pipeline for the site, and you can view the repo <a href="https://github.com/Lux-Ferre/lbtech-info">here</a>.</p>
			</div>
		</div>
	</div>
{% endblock %}