<!doctype html>
<html lang="en" data-bs-theme="dark">
	<head>
	{% block head %}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Lux-Ferre, Full-stack Developer">
        <meta name="keyword" content="portfolio, developer, fullstack, javascript, python">
        <meta property="og:title" content="Lux-Ferre | Full-stack Developer"/>
        <meta property="og:description" content="Lux-Ferre's Showcase" />
        <meta property="og:image" content="{{ url_for('static', filename='assets/main/favicon.svg') }}"/>
        <meta property="og:url" content="https://luxferre.dev" />
        <meta property="og:type" content="website" />
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:title" content="Lux-Ferre | Full-stack Developer" />
        <meta name="twitter:description" content="Lux-Ferre's Showcase"/>
        <meta name="twitter:image" content="{{ url_for('static', filename='assets/main/favicon.svg') }}"/>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/main/favicon.svg') }}">
		<!-- Bootstrap (5.3.2) CSS -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
		<!-- Internal stylesheets -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/assets/main/base.css') }}">

		<title>LuxFerre.dev - {% block title %}{% endblock %}</title>
	{% endblock %}
	</head>
	<body>
		<div id="baseContainer">
			{% block navbar %}
			<nav class="navbar navbar-expand-lg bg-dark">
				<a class="navbar-brand" href="{{ url_for('index') }}">
                    <img src="{{ url_for('static', filename='assets/main/favicon.svg') }}" alt="LuxFerre.dev" height="30" width="30">
                </a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapasedMenu">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarCollapasedMenu">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link disabled" href="{{ url_for('work') }}">Work</a>
						</li>
                        <li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Quick Links</a>
							<div class="dropdown-menu">
								<div class="dropdown dropend">
									<a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown">Archive</a>
									<div class="dropdown-menu">
										<a class="dropdown-item" target="_blank" href="{{ url_for('map_route') }}">Idle Kingdoms Planner</a>
										<a class="dropdown-item" target="_blank" href="{{ url_for('bingo') }}">T90 Bingo</a>
										<a class="dropdown-item" target="_blank" href="{{ url_for('pokemon') }}">Pokemon Type Generator</a>
									</div>
								</div>
								<div class="dropdown dropend">
									<a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown">External</a>
									<div class="dropdown-menu">
										<a class="dropdown-item" target="_blank" href="https://word-generator.anvil.app">Word Generator</a>
										<a class="dropdown-item" target="_blank" href="https://liars-game.anvil.app">Most of These People Are Lying</a>
									</div>
								</div>
								<div class="dropdown dropend">
									<a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown">Portfolio Projects</a>
									<div class="dropdown-menu">
										<a class="dropdown-item" target="_blank" href="https://itcs.lbtechnology.info/gazetteer">Gazetteer</a>
										<a class="dropdown-item" target="_blank" href="https://itcs.lbtechnology.info/companydirectory">Company Directory</a>
									</div>
								</div>
								<div class="dropdown dropend">
									<a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown">Diamond Hunt</a>
									<div class="dropdown-menu">
										<a class="dropdown-item" target="_blank" href="https://github.com/Lux-Ferre/LuxBot">LuxBot</a>
										<a class="dropdown-item" target="_blank" href="https://github.com/Lux-Ferre/idlepixel-websocket-monitor">WS Monitor</a>
										<a class="dropdown-item" target="_blank" href="https://data.idle-pixel.com/api/docs">Official API</a>
										<a class="dropdown-item" target="_blank" href="https://github.com/Lux-Ferre/DHP-Scripts">Userscripts</a>
										<div class="dropdown-divider"></div>
										<a class="dropdown-item" target="_blank" href="https://github.com/Lux-Ferre/IdlePixel-Bot">LuxBot (archive)</a>
									</div>
								</div>
{#								<div class="dropdown dropend">#}
{#									<a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown">Hardware</a>#}
{#									<div class="dropdown-menu">#}
{#									</div>#}
{#								</div>#}
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" target="_blank" href="https://img.luxferre.dev/i/m3VSgktmevjoms5Z28quKP">LuxShot</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" target="_blank" href="https://github.com/Lux-Ferre/Gituich">Gituich</a>
								<a class="dropdown-item" href="{{ url_for('sqmusic') }}">SQ Music Round Generator</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="{{ url_for('morrisons_landing') }}">Morrisons Tools</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" target="_blank" href="https://github.com/Lux-Ferre/Lux-Ferre">GitHub</a>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ url_for('about') }}">About</a>
						</li>
					</ul>
				</div>
			</nav>
			{% endblock %}

			<div id="content" class="d-flex justify-content-center">{% block content %}{% endblock %}</div>
			<div id="footer">
				{% block footer %}
				{% endblock %}
			</div>
			{% block scripts %}
                <!-- Font Awesome 6 -->
                <script src="https://kit.fontawesome.com/9e06056b3d.js" crossorigin="anonymous"></script>
				<!-- Bootstrap (5.3.2) JS with Popper -->
				<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
				<!-- jQuery 3.7.1 -->
				<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
				<!-- Internal JS files -->
				<script src="{{ url_for('static', filename='assets/main/colour-mode.js') }}" type="module"></script>
				<script src="{{ url_for('static', filename='assets/main/base.js') }}" type="module"></script>
			{% endblock %}
		</div>
	</body>
</html>
