<!doctype html>
<html lang="en" data-bs-theme="dark">
	<head>
	{% block head %}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/main/favicon.svg') }}">
		<!-- Bootstrap (5.3.2) CSS -->
		<link href="{{ url_for('static', filename='libraries/bootstrap/bootstrap.min.css') }}" rel="stylesheet">
		<!-- Internal stylesheets -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/assets/main/main.css') }}">

		<title>LuxFerre.dev - {% block title %}{% endblock %}</title>
	{% endblock %}
	</head>
	<body>
		<div id="baseContainer">
			{% block navbar %}
			<nav class="navbar navbar-expand-lg bg-dark">
				<a class="navbar-brand" href="{{ url_for('index') }}">LuxFerre.dev</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapasedMenu">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarCollapasedMenu">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link active" href="{{ url_for('index') }}">Home</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Projects</a>
							<div class="dropdown-menu">
								<div class="dropdown dropend">
									<a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown">Archive</a>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="{{ url_for('map_route') }}">Idle Kingdoms Planner</a>
										<a class="dropdown-item" href="{{ url_for('bingo') }}">T90 Bingo</a>
										<a class="dropdown-item" href="{{ url_for('pokemon') }}">Pokemon Type Generator</a>
									</div>
								</div>
								<div class="dropdown dropend">
									<a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown">External</a>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="https://word-generator.anvil.app">Word Generator</a>
										<a class="dropdown-item" href="https://liars-game.anvil.app">Most of These People Are Lying</a>
									</div>
								</div>
								<div class="dropdown dropend">
									<a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown">Portfolio Projects</a>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="#">Country Data</a>
										<a class="dropdown-item" href="#">???</a>
									</div>
								</div>
								<div class="dropdown dropend">
									<a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown">Diamond Hunt</a>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="https://github.com/Lux-Ferre/LuxBot">LuxBot</a>
										<a class="dropdown-item" href="https://github.com/Lux-Ferre/idlepixel-websocket-monitor">WS Monitor</a>
										<a class="dropdown-item" href="https://github.com/Lux-Ferre/IdlePixel-Data">Official API</a>
										<a class="dropdown-item" href="https://github.com/Lux-Ferre/DHP-Scripts">Userscripts</a>
										<div class="dropdown-divider"></div>
										<a class="dropdown-item" href="https://github.com/Lux-Ferre/IdlePixel-Bot">LuxBot (archive)</a>
									</div>
								</div>
								<div class="dropdown dropend">
									<a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown">Hardware</a>
									<div class="dropdown-menu">
									</div>
								</div>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="https://github.com/Lux-Ferre/Gituich">Gituich</a>
								<a class="dropdown-item" href="{{ url_for('sqmusic') }}">SQ Music Round Generator</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="{{ url_for('morrisons_landing') }}">Morrisons Tools</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="https://github.com/Lux-Ferre/Lux-Ferre">GitHub</a>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ url_for('about') }}">About</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
						</li>
					</ul>
				</div>
			</nav>
			{% endblock %}

			<div id="content" class="d-flex justify-content-center">{% block content %}{% endblock %}</div>
			<div id="footer">
				{% block footer %}
				{% endblock %}
			</div>
			{% block scripts %}
				<!-- Bootstrap (5.3.2) JS with Popper -->
				<script src="{{ url_for('static', filename='libraries/bootstrap/bootstrap.bundle.min.js') }}"></script>
				<!-- jQuery 3.7.1 -->
				<script src="{{ url_for('static', filename='libraries/jQuery/jquery-3.7.1.min.js') }}"></script>
				<!-- Internal JS files -->
				<script src="{{ url_for('static', filename='assets/main/colour-mode.js') }}" type="module"></script>
				<script src="{{ url_for('static', filename='assets/main/main.js') }}" type="module"></script>
			{% endblock %}
		</div>
	</body>
</html>
