{% extends "base.html" %}
{% block title %}Git Projects{% endblock %}
{% block content %}
<div class="accordion bg-dark accordion-flush" id="gitProjectsAccordion">
  <div class="accordion-item">
    <h2 class="accordion-header bg-dark" id="headingOne">
      <button class="accordion-button bg-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        lbtech-info
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#gitProjectsAccordion">
      <div class="accordion-body text-bg-dark">
        <p>The repo that contains this website. Changes are pushed to the repo from whichever device I'm using. The repo is then used to update the VPS hosting the site.</p>
        <p><a href="https://github.com/Lux-Ferre/lbtech-info">Link</a></p>
      </div>
    </div>
  </div>
  <div class="accordion-item text-bg-dark">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button bg-secondary collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Aberdeen Python User Group
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#gitProjectsAccordion">
      <div class="accordion-body">
        <p>The Aberdeen Python User Group repo. This is a monthly meetup involving a presentation followed by code challenges. Solutions to said challenges are submitted via PR.</p>
        <p><a href="https://github.com/PythonAberdeen/user_group">Link</a></p>
      </div>
    </div>
  </div>
  <div class="accordion-item text-bg-dark">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button bg-secondary collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Galaxy Builder
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#gitProjectsAccordion">
      <div class="accordion-body">
        <p>A software project that's part of a larger project.</p>
					 <p>The galaxy builder is designed to assist in the world building for a table top RPG universe.</p>
					 <p>The core feature is the ability to create celestial bodies with either randomized, or user created inputs.</p>
				 	 <p>As part of the randomization feature, there is a sub-script that accesses the ESA's Gaia API to make some of the randomization more statistically accurate.</p>
				 	 <p><a href="https://github.com/Lux-Ferre/galaxy-builder">Link</a></p>
      </div>
    </div>
  </div>
  <div class="accordion-item text-bg-dark">
    <h2 class="accordion-header" id="headingFour">
      <button class="accordion-button bg-secondary collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        the_od_bods
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#gitProjectsAccordion">
      <div class="accordion-body">
        <p>An open-source, automated directory of Scotland's open data available at <a href="opendata.scot">OpenData.scot</a></p>
					 <p>This fantastic project brings together Scotland's disparate and inconveniently located data sets into a single, clean, searchable location.</p>
					 <p>My contribution here was to resolve an issue involving the inclusion of National Library of Scotland data.</p>
					 <p>Since they didn't have an API, the solution was to build a scraper.</p>
					 <p><a href="https://github.com/OpenDataScotland/the_od_bods">Link</a></p>
      </div>
    </div>
  </div>
  <div class="accordion-item text-bg-dark">
    <h2 class="accordion-header" id="headingFive">
      <button class="accordion-button bg-secondary collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
        wall-map
      </button>
    </h2>
    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#gitProjectsAccordion">
      <div class="accordion-body">
        <p>An experiment in procedural generation and sister project to the galaxy-builder.</p>
					 <p>Uses Perlin noise layers to create a procedural topographical map.</p>
				 	 <p>CUDA GPU acceleration brought the time down from an hour to seconds per run.</p>
				 	 <p><a href="https://github.com/Lux-Ferre/wall-map">Link</a></p>
      </div>
    </div>
  </div>
  <div class="accordion-item text-bg-dark">
    <h2 class="accordion-header" id="headingSix">
      <button class="accordion-button bg-secondary collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
        CTC21 - Nautical Wrecks
      </button>
    </h2>
    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#gitProjectsAccordion">
      <div class="accordion-body">
        <p>Another open source project.</p>
					 <p>Here, I worked with 2 others to find a data source of wrecks off the coasts of Scotland and incorporate the information into WikiData.</p>
					 <p>I took the lead on writing the scraping and cleaning software while my collegues navigated the issue of finding a source with an open license.</p>
				 	 <p>Together, we looked through the data to decide how to clean it before it was automatically uploaded to WikiData with the help of Ian.</p>
				 	 <p><a href="https://github.com/CodeTheCity/ctc21_nautical_wrecks">Link</a></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
