<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LB Technology - Index</title>
</head>
<body>
    <div>Website migration in progress.</div>
    <br>
    <div>If you're looking for the <a href="{{ url_for('map_route') }}">Idle Kingdoms Strategy Planner, you'll find it here.</a></div><br>
    <div><a href="{{ url_for('bingo') }}">T90 Bingo?</a></div><br>
    <div><a href="{{ url_for('pokemon') }}">Pokemon Type Randomizer?</a></div><br>
    <div><a href="https://dh2-batch-mute.anvil.app/">DH2 Batch Muter?</a></div><br>
    <div>"Two of These People Are Lying" Article Randomizer?</div><br>
    <div></div><br>
    <div></div><br>
</body>
</html>
