{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link href="{{ url_for('static', filename='assets/morrisons/landing.css') }}" rel="stylesheet">
    <meta id="flask_data" data-recs="{{ url_for('recs') }}"/>
{% endblock %}

{% block title %}Morrisons{% endblock %}
{% block content %}
	<div class="container">
		<div class="row mb-5">
			<div class="col">
				<h1>Morrisons Tools and Links</h1>
			</div>
		</div>
		<div id="card_container" class="row d-flex justify-content-center">
			<div class="col-4 d-flex justify-content-center">
				<div id="mylearning_card" class="card bg-success-subtle border-success text-center">
                    <img class="card-img-top d-block" src="{{ url_for('static', filename='assets/morrisons/mylearning.png') }}">
					<div class="card-body">
						<h4 class="card-title">My Learning</h4>
					</div>
				</div>
			</div>
			<div class="col-4 d-flex justify-content-center">
				<div id="verisae_card" class="card bg-danger-subtle border-danger text-center">
                    <img class="card-img-top d-block" src="{{ url_for('static', filename='assets/morrisons/verisae.png') }}">
					<div class="card-body">
						<h4 class="card-title">Verisae</h4>
					</div>
				</div>
			</div>
            <div class="col-4 d-flex justify-content-center">
				<div id="recs_card" class="card bg-dark-subtle border-secondary text-center">
                    <img class="card-img-top d-block" src="{{ url_for('static', filename='assets/morrisons/recs.png') }}">
					<div class="card-body">
						<h4 class="card-title">Lottery Recs Calc</h4>
					</div>
				</div>
			</div>
            <div class="col-4 d-flex justify-content-center">
				<div id="guide_card" class="card bg-info-subtle border-info text-center">
                    <img class="card-img-top d-block" src="{{ url_for('static', filename='assets/morrisons/guide.png') }}">
					<div class="card-body">
						<h4 class="card-title">Guide Book</h4>
					</div>
				</div>
			</div>
            <div class="col-4 d-flex justify-content-center">
				<div id="barrs_card" class="card bg-danger-subtle border-danger text-center">
                    <img class="card-img-top d-block" src="{{ url_for('static', filename='assets/morrisons/barrs.png') }}">
					<div class="card-body">
						<h4 class="card-title">Barrs Order Sheet</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="{{ url_for('static', filename='assets/morrisons/landing.js') }}" type="module"></script>
{% endblock %}
