{% extends "base.html" %}
{% block title %}Projects{% endblock %}
{% block content %}
			<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner mh-100">
    <div class="carousel-item active">
      <div class="card card-body w-100">
      				<div class="card-header">Idle Kingdoms Map</div>
      				<img src="{{ url_for('static', filename='projects/temp.jpg') }}" class="d-block w-100" alt="...">
      				<div class="card-body text-center">
      						<p class="card-text">An interactive map built for planning strategies in the mobile game <a href="https://play.google.com/store/apps/details?id=com.phantorama.idlekingdoms">Idle Kingdom Clicker</a>.</p> 
      						<p class="card-text">An old project, this has its own CSS and is not fully integrated into the rest of the site.</p>
      						<a href="{{ url_for('map_route') }}" class="card-link">Link to project</a>
      				</div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card card-body w-100">
      				<div class="card-header">T90 Bingo</div>
      				<img src="{{ url_for('static', filename='projects/temp.jpg') }}" class="d-block w-100" alt="...">
      				<div class="card-body text-center">
      						<p class="card-text">A bingo card generator for <a href="https://facebook.com/gaming/T90Official/">T90Official's</a> community games streams.</p>
      						<p class="card-text">Mouse over highlighting for tiles, and toggleable on click.</p> 
      						<p class="card-text">An old project, this has its own CSS and is not fully integrated into the rest of the site.</p>
      						<a href="{{ url_for('bingo') }}" class="card-link">Link to project</a>
      				</div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card card-body w-100">
      				<div class="card-header">Animal and Pokemon Type Generator</div>
      				<img src="{{ url_for('static', filename='projects/temp.jpg') }}" class="d-block w-100" alt="...">
      				<div class="card-body text-center">
      						<p class="card-text">A random pokemon generator inspired by a <a href="https://youtu.be/RykF5LE39AA">Drawfee video</a>.</p> 
      						<p  class="card-text">Gives back 1 or 2 random Pokemon types as well as a random animal to use as a base for a drawing.</p>
      						<p class="card-text">An old project, this has its own CSS and is not fully integrated into the rest of the site.</p>
      						<a href="{{ url_for('pokemon') }}" class="card-link">Link to project</a>
      				</div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card card-body w-100">
      				<div class="card-header">DH2 Batch Muter</div>
      				<img src="{{ url_for('static', filename='projects/temp.jpg') }}" class="d-block w-100" alt="...">
      				<div class="card-body text-center">
      						<p class="card-text">An app built to assist in the moderation of Diamond Hunt 2.</p>
      						<p class="card-text">It takes a list of users (as copied from the alt account tool) and generates a small JS loop to mute them all with the parameters chosen.</p>
      						<p class="card-text">App is built on <a href="https://anvil.works">Anvil</a>, a pure Python development platform.</p>
      						<a href="{{ url_for('map_route') }}" class="card-link">Link to project</a>
      				</div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card card-body w-100">
      				<div class="card-header">Word Generator</div>
      				<img src="{{ url_for('static', filename='projects/temp.jpg') }}" class="d-block w-100" alt="...">
      				<div class="card-body text-center">
      						<p class="card-text">An app built as a front-end to my word generation script.</p>
      						<p class="card-text">The script was initially written to facilitate fanciful names for table-top RPGs</p>
      						<p class="card-text">It uses graphemes as a base to put together words which are mostly pronouncable</p>
      						<p class="card-text">App is built on <a href="https://anvil.works">Anvil</a>, a pure Python development platform.</p>
      						<a href="{{ url_for('map_route') }}" class="card-link">Link to project</a>
      				</div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card card-body w-100">
      				<div class="card-header">Lottery Reconciliation Calculator</div>
      				<img src="{{ url_for('static', filename='projects/temp.jpg') }}" class="d-block w-100" alt="...">
      				<div class="card-body text-center">
      						<p class="card-text">A single-page web app to help calculate lottery reconciliations.</p>
      						<p class="card-text">UI is made with Bootstrap and logic is inline JS.</p>
      						<p class="card-text">First app built to be fully integrated into this website.</p> 
      						<a href="{{ url_for('recs') }}" class="card-link">Link to project</a>
      				</div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card card-body w-100">
      				<div class="card-header">Two of These People Are Lying</div>
      				<img src="{{ url_for('static', filename='projects/temp.jpg') }}" class="d-block w-100" alt="...">
      				<div class="card-body text-center">
      						<p class="card-text">A WIP app to facilitate playing a version of <a href="https://youtu.be/3UAOs9B9UH8">Technical Difficulties: Two of These People Are Lying.</a></p>
      						<p class="card-text">All but one player enters the title of a Wikipedia article, and the remaining player picks one at random.</p>
      						<p class="card-text">The players are then to describe what the article is about and the chooser is to figure out who actually knows what the article is.</p>
      						<p class="card-text">It will have a login feature to allow for remote players.</p> 
      						<a href="{{ url_for('two_people') }}" class="card-link">Link to project</a>
      				</div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{% endblock %}
