{% extends "base.html" %}
{% block title %}Recs{% endblock %}
{% block content %}
<div id="carouselExampleControls" class="carousel slide" data-bs-interval="false">
  <div class="carousel-inner">
    <div class="carousel-item active">
    		<div class="card card-body w-100 text-bg-dark">
      				<div class="card-header">Draw Based Summary</div>
      				<div class="card-body">
      						<p class="card-text">Reports & Invoice > Draw-Based Reports > Draw-Based Summary > Today</p> 
      				</div>
      				<div class="card-body">
      					<table class="table table-danger table-striped">
      							<tbody>
      								<tr>
      									<th scope="row">Lotto</th>
      									<td><input type="number" class="form-control" id="slipInput1" placeholder="0"></td>
      								</tr>
      								<tr>
      									<th scope="row">TBall</th>
      									<td><input type="number" class="form-control" id="slipInput2" placeholder="0"></td>
      								</tr>
      								<tr>
      									<th scope="row">EuroMillions</th>
      									<td><input type="number" class="form-control" id="slipInput3" placeholder="0"></td>
      								</tr>
      								<tr>
      									<th scope="row">Euro Hotpicks</th>
      									<td><input type="number" class="form-control" id="slipInput4" placeholder="0"></td>
      								</tr>
      								<tr>
      									<th scope="row">Hotpicks</th>
      									<td><input type="number" class="form-control" id="slipInput5" placeholder="0"></td>
      								</tr>
      								<tr>
      									<th scope="row">Set for Life</th>
      									<td><input type="number" class="form-control" id="slipInput6" placeholder="0"></td>
      								</tr>
      							</tbody>
      					</table>
      				</div>
      				<div class="card-body">
      					<table class="table table-danger table-striped">
      							<tbody>
      								<tr>
      									<th scope="row">Prizes</th>
      									<td><input type="number" class="form-control" id="slipLottoPrizes" placeholder="0"></td>
      								</tr>
      							</tbody>
      					</table>
      				</div>
      				<div class="card-body">
      						<table class="table table-danger table-striped">
      							<thead>
      								<tr>
      									<th scope="col">Item</th>
      									<th scope="col">Value</th>
      								</tr>
      							</thead>
      							<tbody>
      								<tr>
      									<th scope="row">Cancels</th>
      									<td><input type="number" class="form-control" id="slipCancels" placeholder="0"></td>
      								</tr>
      							</tbody>
      					</table>
      				</div>
      </div>
    </div>
    <div class="carousel-item">
    		<div class="card card-body w-100 text-bg-dark">
      				<div class="card-header">Scratchcard Summary</div>
      				<div class="card-body">
      						<p class="card-text">Reports & Invoice > Scratchcard Reports > Finiancial Reports > Scratchcard Summary > Today</p> 
      				</div>
      				<div class="card-body">
      						<table class="table table-danger table-striped">
      							<tbody>
      								<tr>
      									<th scope="row">Cash Prizes</th>
      									<td><input type="number" class="form-control" id="slipInstantPrizes" placeholder="0"></td>
      								</tr>
      							</tbody>
      					</table>
      				</div>
      </div>
    </div>
    <div class="carousel-item">
    		<div class="card card-body w-100 text-bg-dark">
      				<div class="card-header">Products Sold Today</div>
      				<div class="card-body">
      						<p class="card-text">Products > Product Reports > Products Sold Today</p> 
      				</div>
      				<div class="card-body">
      					<table class="table table-dark table-striped">
      							<tbody>
      								<tr>
      									<th scope="row">01111111 - ONLINE PRIZES</th>
      									<td><input type="number" class="form-control" id="officePrizes1" placeholder="0"></td>
      								</tr>
      								<tr>
      									<th scope="row">02222222 - Euromillions Prize</th>
      									<td><input type="number" class="form-control" id="officePrizes2" placeholder="0"></td>
      								</tr>
      								<tr>
      									<th scope="row">03333333 - Instants Prize</th>
      									<td><input type="number" class="form-control" id="officePrizes3" placeholder="0"></td>
      								</tr>
      							</tbody>
      					</table>
      				</div>
      				<div class="card-body">
      					<table class="table table-dark table-striped">
      							<tbody>
      								<tr>
      									<th scope="row">75000000 - Lotto</th>
      									<td><input type="number" class="form-control" id="officeInput1" placeholder="0"></td>
      								</tr>
      								<tr>
      									<th scope="row">75000187 - EuroMillions</th>
      									<td><input type="number" class="form-control" id="officeInput2" placeholder="0"></td>
      								</tr>
      								<tr>
      									<th scope="row">75000577 - Thunderball</th>
      									<td><input type="number" class="form-control" id="officeInput3" placeholder="0"></td>
      								</tr>
      								<tr>
      									<th scope="row">75000578 - Lotto Hot Picks</th>
      									<td><input type="number" class="form-control" id="officeInput4" placeholder="0"></td>
      								</tr>
      								<tr>
      									<th scope="row">75000745 - EuroMillinos Hotpicks</th>
      									<td><input type="number" class="form-control" id="officeInput5" placeholder="0"></td>
      								</tr>
      								<tr>
      									<th scope="row">75000801 - Set For Life</th>
      									<td><input type="number" class="form-control" id="officeInput6" placeholder="0"></td>
      								</tr>
      							</tbody>
      					</table>
      				</div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card card-body w-100 text-bg-dark">
      				<div class="card-header">Output</div>
      				<div class="card-body text-center">
      						<button type="button" class="btn btn-primary btn-lg" onclick="calcVals()">Calculate</button>
      				</div>
      				<div class="card-body">
      					<table class="table table-dark">
      						<tbody>
      							<tr>
      								<th scope="row">Pink Slip Sales</th>
      								<td><input class="form-control" id="slipSalesOut" placeholder="0" readonly></td>
      							</tr>
      							<tr>
      								<th scope="row">Total Till Sales</th>
      								<td><input class="form-control" id="actualSalesOut" placeholder="0" readonly></td>
      							</tr>
								<tr>
									<th scope="row" style="color:#ff4d40">Sales Variance</th>
									<td><input class="form-control" id="saleVariance" placeholder="0" readonly></td>
								</tr>
								<tr>
									<th scope="row">Total Terminal Prizes</th>
									<td><input class="form-control" id="slipPrizeOut" placeholder="0" readonly></td>
								</tr>
								<tr>
									<th scope="row">Total Till Prizes</th>
									<td><input class="form-control" id="actualPrizeOut" placeholder="0" readonly></td>
								</tr>
								<tr>
									<th scope="row" style="color:#ff4d40">Prize Variance</th>
									<td><input class="form-control" id="prizeVariance" placeholder="0" readonly></td>
								</tr>
      						</tbody>
      					</table>
      				</div>   				
      </div>
    </div>
    
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  </div>
</div>

<script>
        function calcVals() {
        slipSaleTotal = 0
        officeSaleTotal = 0
        officePrizeTotal = 0
    	for (let i = 1; i < 7; i++) {
                elementId = "slipInput" + i
                elementValue = document.getElementById(elementId).value
                if (elementValue == "") {elementValue = "0"}
                slipSaleTotal += parseFloat(elementValue)
        }

        cancels = document.getElementById("slipCancels").value
        if (cancels == "") {cancels = "0"}
        slipSaleTotal -= parseFloat(cancels)
        document.getElementById("slipSalesOut").value = slipSaleTotal

        lottoPrizes = document.getElementById("slipLottoPrizes").value
                if (lottoPrizes === "") {lottoPrizes = "0"}
        instantPrizes = document.getElementById("slipInstantPrizes").value
                if (instantPrizes == "") {instantPrizes = "0"}
        slipPrizeTotal = parseFloat(lottoPrizes) + parseFloat(instantPrizes)
        document.getElementById("slipPrizeOut").value = slipPrizeTotal

        for (let i = 1; i < 7; i++) {
                elementId = "officeInput" + i
                elementValue = document.getElementById(elementId).value
                if (elementValue == "") {elementValue = "0"}
                officeSaleTotal += parseFloat(elementValue)
        }
        document.getElementById("actualSalesOut").value = officeSaleTotal

        for (let i = 1; i < 4; i++) {
                elementId = "officePrizes" + i
                elementValue = document.getElementById(elementId).value
                if (elementValue == "") {elementValue = "0"}
                officePrizeTotal += parseFloat(elementValue)
        }
        document.getElementById("actualPrizeOut").value = officePrizeTotal

		saleVariance = officeSaleTotal - slipSaleTotal
        document.getElementById("saleVariance").value = saleVariance

		prizeVariance = officePrizeTotal - slipPrizeTotal
        document.getElementById("prizeVariance").value = prizeVariance
    }
</script>
{% endblock %}