<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Seed List</title>
</head>
<body>
  <a href="{{ url_for('static', filename='old-projects/map/Seeds/BlankMap.txt') }}">Blank Map</a><br>
  <a href="{{ url_for('static', filename='old-projects/map/seeds/FullMap.txt') }}">Full Map</a><br>
  <a href="{{ url_for('static', filename='old-projects/map/seeds/Grassland.txt') }}">Grassland</a><br>
  <a href="{{ url_for('static', filename='old-projects/map/seeds/LabeledMap.txt') }}">Labeled Map</a>
</body>
</html>