<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Seed List</title>
</head>
<body>
  <a href="{{ url_for('static', filename='old-projects/map/Seeds/BlankMap.txt') }}">Blank Map</a>(deprecated: Use "Grassland" seed or "Reset Map" button)<br>
  <a href="{{ url_for('static', filename='old-projects/map/Seeds/FullMap.txt') }}">Full Map</a>(deprecated: Use "Labeled Map" seed instead)<br>
  <a href="{{ url_for('static', filename='old-projects/map/Seeds/Grassland.txt') }}">Grassland</a><br>
  <a href="{{ url_for('static', filename='old-projects/map/Seeds/LabeledMap.txt') }}">Labeled Map</a>
</body>
</html>
